@tailwind base;
@tailwind components;
@tailwind utilities;


*, ::before, ::after
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


.glassCard{

background: rgba(223, 208, 205, 0.25);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3px);
-webkit-backdrop-filter: blur(3px);
border: 1px solid rgba(223, 208, 205, 1);
}